* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
    /* Màu thay thế */
    --alternative-heading-color: #152427;
    --desc-color: #7d8188;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Public Sans";
}

/* ===== Common ===== */
a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.section-heading {
    color: var(--alternative-heading-color);
    font-family: Poppins;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.section-desc {
    color: var(--desc-color);
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}
