* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
    --alternative-color: #152427;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Public Sans";
}

/* ===== Common ===== */
a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.section-heading {
    color: #e7f9f9;
    font-family: Poppins;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}
